body {
  background-color: #eAf6f6;
}

hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;

  width: 3%
}
h1{
  color: #84142d;
}
h3{
  color: #062d92;
}
.Border{
  border-radius: 100%;
}
